<ion-view view-title="Start">
  <ion-content scroll="false" class="padding row" >
  <div class="bar bar-header bar-light bar-energized">
	</div>
	

	<div class="row row-center">
  	<div class="col col-center">
  		<h1 class="emojimon-title">EM<img class="title-emoji" src="img/emoji/smile.svg"/>JIM<img class="title-emoji" src="img/emoji/rage.svg"/>N</h1>
			<h3 ng-show="game.hasPlayed">
			<span class="game-over">Game Over</span>
			<img class="title-emoji" src="img/emoji/sad.svg"/>
			</h3>

			<p ng-show="game.reasonLost" class="reason">{{game.reasonLost}}</p>
			<div class="scores">
			<span ng-show="game.hasPlayed" class="score">Score: {{game.score}}</span>
			<span ng-show="game.hasPlayed" class="score top">Top Score: {{game.topScore}}</span>
			</div>
			<a href="#/game" class="button button-balanced button-block" ng-hide="game.hasPlayed">
		  	Play
			</a>
			<a href="#/game" class="button button-balanced button-block" ng-show="game.hasPlayed">
		  	Play again
			</a>
			<a ui-sref="tutorial" class="tutorial icon ion-help-circled"></a>
		<a class="tutorial icon ion-android-share-alt" ng-click="shareAnywhere()"></a>

  	</div>
	</div>


  </ion-content>
</ion-view>