<ion-view view-title="Leaderboard">
 	<ion-header-bar class="bar-light bar-energized">
    <a href="#/start" class="button button-block">
      <i class="ion-arrow-left-c"></i> Back
    </a>
 		<h1 class="title">Top scores</h1>
	</ion-header-bar>
<ion-content class="padding row" overflow-scroll="true" scrollbar-x="false" scrollbar-y="false">


	<div class="row">
  	<div class="col col-100">
  <ion-list type="list-inset" class="leaderboard">
    <ion-item ng-repeat="item in leaderboard" class="item item-button-right">


      {{item.name}} <i class="ion-ribbon-b" ng-show="$first"></i>
       <span class="button button-positive">
	      {{item.score}}
	    </span>
      <i class="ion-social-apple" ng-show="item.platform === 'iOS'"></i>
      <i class="ion-social-android" ng-show="item.platform === 'Android'"></i>
      <i class="ion-android-desktop" ng-show="item.platform === 'Web' || !item.platform"></i>

    </ion-item>
    <ion-item ng-hide="leaderboard.length" class="item">
      Cannot load top scores right now.
    </ion-item>

  </ion-list>
  </div>
  </div>


</ion-content>
</ion-view>
