<ion-view view-title="Tutorial">
<ion-slide-box>

  <ion-slide class="row row-center">
   	<div class="col col-center">
    	<h3>Collect points for all the happy emoji that reach the bottom.</h3>
    	 <img class="tutorial-emoji" src="img/emoji/smile.svg"/>
    	<img class="tutorial-emoji" src="img/emoji/grin.svg"/>
    </div>
  </ion-slide>
  <ion-slide class="row row-center">
  	<div class="col col-center">
    	<h3>Tap the negative emoji to keep them away!</h3>
    	 <p>(You will lose the game if you accidentally shoot a happy emoji.)</p>

    	<img class="tutorial-emoji" src="img/emoji/rage.svg"/>
    	<img class="tutorial-emoji" src="img/emoji/japanese_ogre.svg"/>
    </div>
  </ion-slide>
  <ion-slide class="row row-center">
  	<div class="col col-center">
  	<div class="row row-center">
  		<div class="col col-center"><h3>Allies and Foes</h3></div>
   	</div>
   	<div class="row row-center">
 			<img class="tutorial-emoji" src="img/emoji/watch.svg"/>
  		<p>Use the watch to pause time for 5 seconds, at a cost of 3 points.</p>
		</div>
   	<div class="row row-center">
   			<img class="tutorial-emoji" src="img/emoji/bomb.svg"/>
    		<p>The bomb will clear everything away for you, but cost you 5 points to use.</p>
		</div>
   	<div class="row row-center">
 			<img class="tutorial-emoji" src="img/emoji/ghost.svg"/>
  		<p>When the ghost is on the screen everything becomes blurry and hard to see.</p>
		</div>
    </div>
  </ion-slide>
  <ion-slide class="row row-center">
 		<div class="col col-center">
    <h3>Ready?</h3>
		<a ui-sref="game" class="button button-balanced">
		  Play
		</a>
		</div>
  </ion-slide>
</ion-slide-box>