<ion-view view-title="Tutorial">
<ion-slide-box>
  <ion-slide class="row row-center">
  	<div class="col col-center">
    	<h3>Tap the negative emoji to stop them getting through!</h3>
    	<img src="img/emoji/rage.png"/>
    	<img src="img/emoji/japanese_ogre.png"/>
    </div>
  </ion-slide>
  <ion-slide class="row row-center">
   	<div class="col col-center">
    	<h3>Let all the positive emoji to pass through</h3>
    	 <img src="img/emoji/blush.png"/>
    	<img src="img/emoji/smiley.png"/>
    </div>
  </ion-slide>
  <ion-slide class="row row-center">
   	<div class="col col-center">
    	<h3>The bomb will clear the screen (and cost 3 points)</h3>
    	<img src="img/emoji/bomb.png"/>
    </div>
  </ion-slide>
  <ion-slide class="row row-center">
 		<div class="col col-center">
    <h3>Ready?</h3>
		<a ui-sref="game" class="button button-balanced">
		  Start
		</a>
		</div>
  </ion-slide>
</ion-slide-box>